@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body, html {
    background-color: rgba(247, 236, 236, 0.624);
}

header{
    background-color: grey;

}

header > h1{
    padding: 10px;
    text-align: center;

}

span#burger{
    background-color: rgb(47, 45, 45);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: white;
    color:  black;

}


menu{
    display: none;
}

menu > ul {
    list-style-type: none;
    

}

menu > ul > li {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(107, 106, 106);
    color: white;
    border-top: 2px solid rgba(168, 168, 168, 0.452);
}

menu > ul > li:hover {
    background-color: rgb(182, 182, 182);
}

main{
    width: 90vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}

