@charset "UTF-8";

*{
    padding: 0px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 50px;
    font-size: 48px;
    
}

.tela {
    display: block;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 5px;
    

}
.nome{
    margin-bottom: 20px;
}

div p {
    margin-bottom: 20px;
    color: rgb(105, 104, 104);
    font-size: 18px;
}

h2{
    font-size: 28px;
}

span{
    color: rgb(255, 183, 0);
}

.botao{
    display: inline-block;
    color: black;
    background-color: rgb(255, 183, 0);
    border: none;
    width: 170px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    
}
